static:
  image: node:alpine
  stage: build
  before_script:
    - yarn install --cache-folder .yarn --prefer-offline --production --network-timeout 100000
  script:
    - npm run build
  artifacts:
    name: '$CI_JOB_ID'
    paths:
      - ./public
    expire_in: 30 mins

deploy:
  image: rclone/rclone:1
  stage: deploy
  dependencies:
    - static
  only:
    - master
  environment:
    name: notes
    url: https://notes.theorangeone.net
  script:
    - rclone sync public/ pages:notes.theorangeone.net/
  variables:
    RCLONE_CONFIG_PAGES_TYPE: webdav
    RCLONE_CONFIG_PAGES_URL: https://pages.theorangeone.net
    RCLONE_CONFIG_PAGES_USER: github
