site_name: Notes
site_url: https://notes.theorangeone.net
repo_url: https://github.com/RealOrangeOne/notes
repo_name: RealOrangeOne/notes
copyright: "&copy; TheOrangeOne"

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://theorangeone.net
    - icon: fontawesome/brands/mastodon
      link: https://theorangeone.net/@jake
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/RealOrangeOne
    - icon: fontawesome/brands/github
      link: https://github.com/RealOrangeOne
    - icon: fontawesome/solid/rss
      link: /feed_rss_created.xml

theme:
  name: material
  features:
    - navigation.top
    - navigation.sections
    - navigation.index
    - toc.follow
    - search.suggest
  icon:
    logo: fontawesome/regular/note-sticky
  favicon: https://theorangeone.net/favicon.ico
  custom_dir: theme/
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: deep orange
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

hooks:
  - hooks/notes.py

# Extensions
markdown_extensions:
  - attr_list
  - abbr
  - pymdownx.highlight
  - pymdownx.superfences
  - footnotes
  - markdown.extensions.admonition
  - markdown.extensions.def_list
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - mdx_include:
      base_path: docs


plugins:
  - search
  - glightbox
  - awesome-pages:
      strict: true
      order: asc
      sort_type: natural
      order_by: title
  - tags:
      enabled: true
      tags_file: tags.md
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
      exclude:
        - tags.md
        - README.md
  - minify_html
  - social
  - rss:
      date_from_meta:
        as_creation: "date"
        as_update: false
      json_feed_enabled: false
      match_path: "notes/.*"
