{% extends "base.html" %}

{% block announce %}
  You can also find me on
  <a href="https://theorangeone.net/">
    <span class="twemoji globe">
      {% include ".icons/fontawesome/solid/globe.svg" %}
    </span>
    <strong>My website</strong>
  </a>
  ,
  <a rel="me" href="https://theorangeone.net/@jake">
    <span class="twemoji globe">
      {% include ".icons/fontawesome/brands/mastodon.svg" %}
    </span>
    <strong>Mastodon</strong>
  </a>
  ,
  <a href="https://twitter.com/RealOrangeOne">
    <span class="twemoji twitter">
      {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    <strong>Twitter</strong>
  </a>
  ,
  <a href="https://github.com/RealOrangeOne">
    <span class="twemoji github">
      {% include ".icons/fontawesome/brands/github.svg" %}
    </span>
    <strong>GitHub</strong>
  </a>
  and
  <a href="https://theorangeone.net/contact/">
    more
  </a>.
{% endblock %}

{% block content %}
  {{ super() }}

  {% if page.meta.sources %}
    <small>
      Sources:
      {% for source in page.meta.sources %}
        <a href="{{ source }}">{{ source|domain }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
    </small>
  {% endif %}
{% endblock %}
