name: CI

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - uses: egordm/gha-yarn-node-cache@v1

      - run: yarn install
      - run: npm run release

      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: notes
          path: public
